{% extends 'blog/base.html' %}
{% load markdownify %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}
        <div class="post">


            {% if post.published_date %}
                <div class="date">
                    {{ post.published_date }}
                 </div>
            {% else %}
                <a href="{% url 'post_publish' pk=post.pk %}"><button class="btn btn-primary">Publish</button></a>
            {% endif %}

            {% if user.is_authenticated %}
                <a href="{% url 'post_edit' pk=post.pk %} "><i class="far fa-edit fa-2x" style="color: #339af0;"></i></a>
                <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-danger" onclick="return confirm('are you sure')"><i class="far fa-minus-square "></i></a>
            {% endif %}
            <h1> {{ post.title }}</h1>
            <p>{{ post.text| markdown | safe |linebreaksbr}}</p>

            <hr>

            <a href="{% url 'add_comments_to_post' pk=post.pk %}"><button class="btn btn-secondary">Add comment</button></a>

            {% for comment in post.comments.all %}
                {% if user.is_authenticated or comment.approved %}
                    <div class="comment">
                        <div class="date" >
                            <p>{{ comment.created_date }}</p>
                        </div>
                        {% if not comment.approved and user.is_superuser %}
                            <a href="{% url 'comment_approve' pk=comment.pk %}"><i class="fas fa-check"></i></a>
                            <a href= "{% url 'comment_remove' pk=comment.pk%}"><i class="fas fa-minus-circle"></i></a>
                        {% endif%}
                        <strong>{{comment.author}}</strong>
                        <p>{{ comment.text | markdown | safe }}</p>
                    </div>
                {% endif %}

            {% empty %}
            <p>No comments yet...</p>

            {% endfor %}
        </div>
{% endblock%}